.barcode{
z-index: 99;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    height: calc(100vh);
    background-color: rgb(0, 0, 0,0.6);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .barConatiner{
        min-width: 500px;
        background-color: white;
        padding: 20px;

        h4{
            margin-bottom: 10px;
            display: flex ;
            justify-content: space-between;

            button{
                padding: 3px 10px;
                background: none;
                border: 1px solid black;
                font-weight: bold;
                border-radius: 2px;

            }
        }
    }
}