$main-bg:rgb(5, 4, 4);
$nav-bg:rgrgb(37, 37, 37);
$content-bg: rgb(255, 255, 255);

$main-color:rgb(0, 0, 0,0.9);
$nav-main-color:rgb(255, 255, 255);
$nav-soft-color:rgb(255, 255, 255, 0.8);
$soft-color:rgb(103, 103, 103, 0.6);
$soft2-color:rgb(174, 174, 174, 0.6);